/* Generalist Styling */
:root {
  --russianViolet: #330036;
  --darkPurple: #38182F;
  --charcoal: #2F394D;

  --paynesGrey: #56666B;
  --vanilla: #EEE1B3;
  --rufous: #A33B20;
  --darkPurple: #1C0221;
  --rosyBrown: #BA8F95;

  --uranianBlue: #BADEFC;
  --gamboge: #F0A202;
}

* {
  color: var(--darkPurple);
}

.bgSecondary {
  background-color: var(--paynesGrey);
}

.bgStandard, html {
  background-color: var(--vanilla);
}

.GeneralHoverLink {
  color: var(--darkPurple);
  text-decoration: none;
}

.GeneralHoverLink:hover {
  color: var(--rufous);
}

.ProjectHoverLink {
  color: var(--darkPurple);
}

.ProjectHoverLink:hover {
  color: var(--rufous);
}

.NavHoverLink:hover {
  color: var(--rufous);
}

/* Footer Styling */
.Footer-Image {
  max-height: 10vh;
}

/* About Me Styling */
.Profile-Picture {
  height: 40vmin;
  min-height: 200px;
  width: 30vmin;
  min-width: 150px;
}

/* Projects Styling */
.Project-Img {
  max-width: 95vmin;
}

.Project-Text-Box {
  max-width: 95vmin;
}