/* Generalist Styling */
:root {
  --text: #090446;
  --mainBackground: #808080;
  --activeText: #61dafb;
  --altBackground: #fbfff1;
  --highlightText: #e0ca3c;
  --secondaryText: #9cde9f;
  --important: #322e18;
}

* {
  background-color: var(--mainBackground);
  color: var(--text);
}

.HoverLink {
  color: var(--text);
  text-decoration: none;
}

.HoverLink:hover {
  color: var(--activeText);
}

.ChangeOnHover:hover {
  color: var(--activeText);
}

button {
  background: none;
	color: var(--text);
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

button:hover {
  color: var(--activeText);
}

/* Contact section Styling */
.Contact input {
  width: 15vw;
}

.Contact button {
  margin-top: 5vh;
}

#message {
  height: 20vh;
}

/* Footer Styling */
.Footer-Image {
  max-height: 10vh;
}

/* About Me Styling */
.Profile-Picture {
  height: 40vmin;
  min-height: 200px;
  width: 30vmin;
  min-width: 150px;
}

/* Projects Styling */
.Project-Img {
  height: 75vmin;
  min-height: 300px;
  width: 90vmin;
  max-width: 650px;
}

.Project-Text-Box {
  width: 90vmin;
  max-width: 650px;
}